* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR START */
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2px 2px 6px 0px rgba(181,174,174,0.68);
  padding: 5px;

}

.navBar ul{
  display: flex;
}


.navBar ul li {
  list-style: none;
  margin-right: 1em;
  transition: all 3s ease;
}

.navBar ul li:hover {
  border-bottom: 1px solid black;

}

a:link {
  text-decoration: none;
  color: black
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
