* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

/* NAVBAR START */
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2px 2px 6px 0px rgba(181,174,174,0.68);
  padding: 5px;
  width: 100%;
  height: auto;

}

.navBar ul{
  display: flex;
  margin: 0;
  padding: 0;
  
}


.navBar ul li {
  list-style: none;
  margin-right: 1em;
  transition: all 0.3s ease;
  padding: 5px;
}

.navBar ul li:hover {
  border-bottom: 1px solid black;
  transform: scale(1.1);
}

.navBar ul li a {
  text-decoration: none;
  color: black
}

/* NAVBAR END */

/* CART CSS  */

.Cart {
  margin-right: 1em;
  display: flex;
  align-items: center;
}


